.app {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 250px;
    /* background: #fff; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eee;
    background: #1e1e2d;
color: #fff;
}

.profile {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.profile img {
    border-radius: 50%;
}

.profile h4 {
    font-size: 15px;
}

.profile span {
    font-size: 12px;
    color: #777;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    /* color: #333; */
    color: #cfcfcf;
    background: #2a2a3d;

    border-radius: 6px;
    margin-bottom: 5px;
}

.menu a.active,
.menu a:hover {
    background: #78797a;
    /* color: #2563eb; */
}

.logout {
    margin-top: auto;
}
.logout a{
    display: block;
    padding: 10px;
    text-decoration: none;
    /* color: #333; */
    color: #cfcfcf;
    background: #2a2a3d;

    border-radius: 6px;
    margin-bottom: 5px;
}
.logout a:hover {
    background: #78797a;
    /* color: #2563eb; */
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
    background: #f5f5f5;
}

.breadcrumb {
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
}
.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;
}
.action-btn :hover {
    color: #2563eb;
}